<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
        }

        .container {
            margin-top: 50px;
        }

        .character-card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .character-image {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>

    <%- include('./partials/navbar.ejs') %>

    <div class="container-fluid text-center">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="character-card">
                    <div class="row">
                        <div class="col">
                            <img src="<%= character.imagelink %>" alt="<%= character.name %>" class="character-image">
                        </div>
                        <div class="col-8">
                            <h2><%= character.name %></h2>
                            <p><strong>Gender:</strong> <%= character.gender %></p>
                            <p><strong>Description:</strong> <%= character.description %></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="content">
                    <h3>Forum posts:</h3>
                    <% forum_posts.forEach(post => { %>
                        <div class="card mb-3 shadow-lg bg-light">
                            <div class="card-header">
                                Author: <%= post.user_name %>
                            </div>
                            <a href="/forum/<%= post.id %>">
                            <div class="card-body">
                                <h2 class="card-title"><%= post.title %></h2>
                                <p class="card-text">Date Posted: <%= post.date_posted %></p>
                            </div>
                            </a>
                        </div>
                        <br>
                    <% }) %>
                    <form action="/redirect/character/forum_post/<%= character.id %>" method="GET">
                        <button class="btn-primary">Create post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
