<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f9f9f9;
        }

        .container {
            margin-top: 40px;
        }

        img {
            border-radius: 8px;
            max-width: 100%;
            height: auto;
            transition: transform 0.2s ease-in-out;
        }

        .card:hover img {
            transform: scale(1.1);
        }

        .btn-details {
            margin-top: 10px;
        }
    </style>
</head>

<body>

    <div>
        <hr class="border border-danger border-7 opacity-50">
        <div class="text-success text-center">
            <h1><strong>Anibugs</strong></h1>
        </div>
        <hr class="border border-primary border-7 opacity-75">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/all_anime">Anime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/studio">Studio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/render/forum/create">Create Forum Post</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand ml-auto" href="/user_info"><%= username %></a>
        <form class="form-inline" action="/logout" method="get">
            <button class="btn btn-outline-danger my-2 my-sm-0">Logout</button>
        </form>
    </nav>

    <div class="container">
        <% for(let i = 0; i < posts.length; i++){ %>
            <div class="card mb-3 shadow-lg bg-light">
                <div class="card-header">
                    Author: <%= posts[i].user_name %>
                </div>
                <a href="/forum/<%= posts[i].id %>">
                <div class="card-body">
                    <h2 class="card-title"><%= posts[i].title %></h2>
                    <p class="card-text">Date Posted: <%= posts[i].date_posted %></p>
                    <!--<form action="/forum/<%= posts[i].id %>" method="get">
                        <button type="submit" class="btn btn-primary btn-details">View post</button>
                    </form>-->
                </div>
                </a>
            </div>
        <% } %>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
